nav {
	background-color: #1c344f;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
	color: black;
}

body {
	margin-bottom: 4rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.2rem;
	font-weight: 500;
	background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(221,221,221,0) 99%);
	margin: 0;
	padding: 0 0.5rem 0.5rem 0.5rem;
}

h3:before {
	content: "";
	position: relative;
	display: block;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
	height: 1px;
	width: 100%;
	margin-bottom: 0.5rem;
	left: -0.5rem;
}

code {
	background: #1c344f;
	color: white;
	padding: 0.2rem;
}